{% extends 'eniQCMBundle::layout.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block content %}
	<div class="jumbotron">
       	<h1>Bonjour {{ app.user.getPrenom()|capitalize }}</h1>
        <p class="lead">Bienvenue dans le menu de gestion des questionnaires.</p>
    </div>
	<h2>Administration</h2>
	<div class="list-group">
			<a href="#" class="list-group-item">Gestion des inscriptions</a>
			<a href="#" class="list-group-item">Gestion des tests</a>
			<a href="{{ path('question_list') }}" class="list-group-item">Gestion des questions</a>
			<a href="{{ path('theme_list') }}" class="list-group-item">Gestion des thèmes</a>
			<a href="{{ path('user_list') }}" class="list-group-item">Gestion des utilisateurs</a>
			<a href="{{ path('promo_list') }}" class="list-group-item">Gestion des promotions</a>
	</div>
{% endblock %}