{% extends 'eniQCMBundle::layout.html.twig' %}

{% block title %}
Liste des tests en cours
{% endblock %}

{% block content %}
	
	<h2> Liste des tests disponible<br/> Selectionnez celui que vous souhaitez passer:</h2>

	<div class="list-group testsStagiaire">
		{% for inscription in inscriptionsUtilisateur %}
			{% if inscription.tempsEcoule != 0 %}
				<a href="#" class="list-group-item" data-toggle="modal" data-target="#confirmationTestPassage" data-test="{{ inscription.test.getNom() }}" data-id="{{ inscription.id }}">{{ inscription.test.getNom() }}: {{ inscription.test.getDescription() }} (en cours)</a>
			{% else %}
				<a href="#" class="list-group-item" data-toggle="modal" data-target="#confirmationTestPassage" data-test="{{ inscription.test.getNom() }}" data-id="{{inscription.id }}">{{ inscription.test.getNom() }}: {{ inscription.test.getDescription() }}</a>
			{% endif %}
		{% endfor %}
    </div>

    <div id="confirmationTestPassage" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                    <a href="#" class="btn btn-success confirmButton" id="confirm-participation">Confirmer</a>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
    	$(function() {
    		$('.list-group-item').click(function(e) {
    			e.stopImmediatePropagation();
    			var nomTest = $(this).data('test'),
    				id = $(this).data('id');
    				console.log($(this));
    			$('#confirmationTestPassage .confirmButton').attr('href', "{{ path('passage-test') }}/" + id);
    			console.log($(this).attr('href'));
    			$('#confirmationTestPassage .modal-body').html('<p>Vous êtes sur le point de commencer le test "' + nomTest + '". Êtes-vous sûr de vouloir continuer ?</p>');
    			$('#confirmationTestPassage').modal();
    		});
    	});
    </script>
{% endblock %}