{% extends 'eniQCMBundle::layout.html.twig' %}

{% block title %}
Liste des tests en cours
{% endblock %}

{% block content %}
	
	<h2> Liste des tests disponible<br/> Selectionnez celui que vous souhaitez passer:</h2>

	<div class="list-group testsStagiaire">
		{% for inscription in inscriptionsUtilisateur %}
			{% if inscription.tempsEcoule != 0 %}
				<a href="#" class="list-group-item" data-toggle="modal" data-target="#confirmationTestPassage" data-test="{{ inscription.test.getNom() }}" data-id="{{ inscription.id }}">{{ inscription.test.getNom() }}: {{ inscription.test.getDescription() }} (en cours)</a>
			{% else %}
				<a href="#" class="list-group-item" data-toggle="modal" data-target="#confirmationTestPassage" data-test="{{ inscription.test.getNom() }}" data-id="{{inscription.id }}">{{ inscription.test.getNom() }}: {{ inscription.test.getDescription() }}</a>
			{% endif %}
		{% endfor %}
    </div>

    <div id="confirmationTestPassage" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                    <a href="#" class="btn btn-success confirmButton" id="confirm-participation" data-loading-text="Génération aléatoire des questions..." data-error-text="Une erreur est survenue" data-done-text="Génération réussie">Confirmer</a>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
    	$(function() {
    		$('.list-group-item').click(function(e) {
    			e.stopImmediatePropagation();
    			var nomTest = $(this).data('test'),
    				id = $(this).data('id');
    				console.log(id);

                // Génération de la modal et son contenu
                $('#confirmationTestPassage .modal-body').html('<p>Vous êtes sur le point de commencer le test "' + nomTest + '". Êtes-vous sûr de vouloir continuer ?</p>');
                $('#confirmationTestPassage').modal();

                // Sélection aléatoire des question
                $('#confirm-participation').click(function() {
                    var btn = $(this);
                    btn.button('loading');
                    $.ajax({
                        url: "{{ path('generate-question') }}/" + id,
                        method: "POST"
                    }).done(function(msg) {
                        btn.attr('disabled', true);
                        btn.button('done');
                        $('#confirmationTestPassage .modal-body').html('<p>Génération aléatoire des questions réalisée avec succès, le questionnaire va bientôt débuter.</p>');
                        setTimeout(function() {
                            window.location = "{{ path('passage-test') }}/" + id;
                        }, 5000);
                    }).fail(function(msg) {
                        btn.attr('disabled', 'disabled');
                        btn.button('error');
                        $('#confirmationTestPassage .modal-title').html('ERREUR');
                        $('#confirmationTestPassage .modal-body').html('<p>Une erreur est survenue lors de la génération des questions, veuillez réessayer plus tard.</p>');
                    });
                });

    			//$('#confirmationTestPassage .confirmButton').attr('href', "{{ path('passage-test') }}/" + id);
    			console.log($(this).attr('href'));
    			
    		});
    	});
    </script>
{% endblock %}