{% extends 'eniQCMBundle:Stagiaire:layoutTest.html.twig' %}

{% block title %}
	Passage d'un test
{% endblock %}

{% block js %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('js/models/Model.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/collections/QuestionPaginatedCollection.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/views/QuestionAppView.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/views/stagiaires/QuestionView.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/views/stagiaires/QuestionPaginationView.js') }}"></script>
{% endblock %}

{% block content %}
	
	<div id="question-list"></div>
	<div class="question"></div>
	<div id="question-pagination"></div>


<script type="text/javascript">

	$(function() {
		var collectionQuestions = new QuestionPaginatedCollection({{ questions|json_encode|raw }}, {
			displayPerPage: 1
		});
		
		var questionsView = new QuestionAppView({collection: collectionQuestions, dureeTest: "{{ dureeTest|date('i:s') }}"});
		var paginationView = new QuestionPaginationView({collection: collectionQuestions});
		collectionQuestions.pager();
	});
</script>
{% endblock %}