{% spaceless %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{% block title %}Passage d'un test{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block js %}
            <script type="text/javascript" src="{{ asset('js/lib/jquery-2.1.0.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/lib/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/lib/underscore-min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/lib/backbone-min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/lib/backbone.paginator.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/models/Model.js') }}"></script>
			<script type="text/javascript" src="{{ asset('js/collections/QuestionPaginatedCollection.js') }}"></script>
			<script type="text/javascript" src="{{ asset('js/views/QuestionAppView.js') }}"></script>
			<script type="text/javascript" src="{{ asset('js/views/stagiaires/QuestionView.js') }}"></script>
			<script type="text/javascript" src="{{ asset('js/views/stagiaires/QuestionPaginationView.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/validateQuestionnaire.js') }}"></script>			
            <script type="text/javascript" src="{{ asset('js/compteur.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/node_modules/socket.io/node_modules/socket.io-client/dist/socket.io.js') }}"></script>
        {% endblock %}

        {% block css %}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}"/>
            <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap/bootstrap-theme.min.css') }}"/>
            <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap/bootstrap.min.css') }}"/>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    {% block body %}
        <body>
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="navbar-brand" href="#">{{ app.user }} - {{ app.user.promotion }}</span>
                    <span class="nomTest"></span>
                    <span class="countdown">
                        <span id="countdown_hour"></span>:
                        <span id="countdown_min"></span>:
                        <span id="countdown_sec"></span>
                    </span>
                </div>
                <div class="nav navbar-collapse collapse">
                    <ul class="nav navbar-nav nav"></ul>
                    <ul class="nav navbar-nav navbar-right">
                    </ul>
                </div>
            </div>
            <div class="container">
                {% block content %}

                	<div id="question-list"></div>
					<div class="question jumbotron"></div>
					<div id="question-pagination"></div>

					<script type="text/javascript">

						$(function() {
							var collectionQuestions = new QuestionPaginatedCollection({{ questions|json_encode|raw }}, {
								displayPerPage: 1
							});

							var paginationView = new QuestionPaginationView({collection: collectionQuestions, route:"{{ path('save-question') }}", routeResultatTest: "{{ path('correction-test') }}/{{ idInscription }}"});
							var questionsView = new QuestionAppView({collection: collectionQuestions, route:"{{ path('save-question') }}", routeResultatTest: "{{ path('correction-test') }}/{{ idInscription }}", data: {{ questions|json_encode|raw }}});
							
							collectionQuestions.pager();

							var endTest = new Date();
                            // On test qu'il n'y a pas de temps sauvegarder dans le localStorage
                            if (localStorage.getItem('time')) {
                            	var time = JSON.parse(localStorage.getItem('time')),
                            		first = false;
                            	if (time['hour'] != 0) {
                            		endTest.setHours(parseInt(endTest.getHours()) + time['hour']);
                            	}
                            	if(time['min'] != 0) {
                            		endTest.setMinutes(parseInt(endTest.getMinutes()) + time['min']);
                            	}
                            	if (time['sec'] != 0) {
                            		endTest.setSeconds(parseInt(endTest.getSeconds()) + time['sec']);
                            	}

                            } else {

	                            {% if dureeTest|date('H') != 0 %}
	                                endTest.setHours(parseInt(endTest.getHours()) + {{ dureeTest|date('H')}});
	                            {% endif %}
	                            {% if dureeTest|date('i') != 0 %}
	                                endTest.setMinutes(parseInt(endTest.getMinutes()) + {{ dureeTest|date('i')}});
	                            {% endif %}
	                            {% if dureeTest|date('s') != 0 %}
	                                endTest.setSeconds(parseInt(endTest.getSeconds()) + {{ dureeTest|date('s')}});
	                            {% endif %}

	                            var first = true;
                            }

                            countdownManager.targetTime = new Date(endTest);
                            countdownManager.route = "{{ path('correction-test') }}/{{ idInscription }}";
							countdownManager.init(first);

                            // Connexion à socket.io pour détecter une déconnexion client
                            var socket = io.connect('http://questionnaire.local:8080');

                            // Connexion de l'utilisateur au chargement de la page
                            socket.on('connect', function() {
                            });
                            socket.on('disconnect', function() {
                            });
							
						});
					</script>
                {% endblock %}
            </div>
        </body>
    {% endblock %}
</html>
{% endspaceless %}