{% extends 'eniQCMBundle::layout.html.twig' %}

{% block title %}
	Résultat du test
{% endblock %}

{% block content %}

	<h2>Résultat du test</h2>

	<div class="jumbotron">
		<h3>Résultat par sections</h3>
		{% for key, resultat in resultatSection %}
			<li class="resultatSection">Section {{ loop.index }} ( {{ key }} ) : <span class="resultat">{{ resultat.resultat }}/{{ resultat.nbQuestions }}</span></li>
		{% endfor %}

		<h3>Résultat global</h3>
		<div class="resultatGlobal">
			Le seuil pour valider ce test est de: <span class="seuil resultat">{{ nbBonneQuestions }}/{{ totalQuestions }}</span><br />
			Votre Résultat: <span class="resultat">{{ resultatGlobal }}/{{ totalQuestions }}</span>

			{% if (resultatGlobal/totalQuestions)*100 >= seuil %}
				<div class="progress">
					<div class="progress-bar progress-bar-success" role="progessbar" aria-valuenow="{{ (resultatGlobal/totalQuestions)*100 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ (resultatGlobal/totalQuestions)*100 }}%">
						{{ (resultatGlobal/totalQuestions)*100 }}%
					</div>
				</div>
			{% elseif (resultatGlobal/totalQuestions)*100 < seuil %}
				<div class="progress">
					<div class="progress-bar progress-bar-danger" role="progessbar" aria-valuenow="{{ (resultatGlobal/totalQuestions)*100 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ (resultatGlobal/totalQuestions)*100 }}%">
						{{ (resultatGlobal/totalQuestions)*100 }}%
					</div>
				</div>
			{% endif %}
		</div>
	</div>
	<a class="btn btn-success" href="{{ path('stagiaire_test_en_cours') }}">Liste des tests en cours</a>

{% endblock %}